@charset "UTF-8";

 /*Código da cor do Body: #00BFFF*/
 /*Código da cor da Div: #CFEBFF*/

 body {
     background-color: #00BFFF;
     font-family: Arial, sans-serif;
 }

 div#interface {
    background-color: #CFEBFF;
    position: relative;
    width: 1200px;
    margin: -23px auto 0px auto;
    padding: 10px;
 }

 header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;

 }

 header#cabecalho h1{
    font-family: "Courier New";
    left: 400px;
    position: relative;
    font-size: 35pt;
    color: #0000CD
 }

header#cabecalho h2 {
    font-family: 'Courier New';
    left: 452px;
    position: relative;
    font-size: 10pt;
    color: #0000CD
}

h1.corpo-titulo {
    font-size: 20pt;
    color: #000000;
    left: 45%;
}

img#imagem {
    width: 45%;
}

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
    text-align: center;
    margin: 0px 30px 30px 30px;

}

footer a {
    color: #000;
    text-decoration: none;
    font-size: 10pt;
    font-style: italic;
}

p {
    text-align: justify;
    text-indent: 20px;
}